.special-message-wrapper {
	position:relative;
	margin-bottom:10px;
	width:100%;
    z-index:9999;
	/* position:absolute; */
	/* top:0; */
	/* left:0; */
}

.special-message-content {
	padding:10px; 
	margin:0 auto;
	text-align:center;
	max-width:1400px;
}

.special-message-left {
	float:center;
	/* width:90%; */
}

.special-message-right {
	float:center;
	cursor: pointer;
	/* padding:3px 3px 0px 0px; */
}

.special-message-right .dashicons {
	font-size:25px;
}